@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminOtherPageLayout.cshtml";
    Domain.ViewModel.Admin.IconTitlePage MenuItems = ViewBag.MenuObject;
}
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $("#dpColumns").change(function () {
            $(this).parents("form").submit();
            $('#SuccessMsg').hide();
        });
      
    </script>
}
@Html.Hidden("MenuItems", "1429956437_upload.png" + ":-" + "مدیریت فوتر")
<script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/Admin/IconTitlePageScript.js"></script>
    <script>
        Page();
</script>
<div class="divCssWh">
    <div class="FloatL">
        <a href="~/Admin/Footer/AddFooter" class="LinkForCreateItems">ایجاد فوتر</a>
    </div>
    <div style="float: right; text-align: right; width: 100%; height: 30px;">
        <div style="width: 100%; float: right">
            <div style="float: right; padding-right: 5px">
                @Html.Label("گروه", new { @class = "WebUserLabel" })
            </div>
            <div style="float: right">
                @using (Ajax.BeginForm(actionName: "ShowFooterThisColumn", ajaxOptions: new AjaxOptions {
                    UpdateTargetId = "BoxContent", InsertionMode = InsertionMode.Replace }))
                {
                      @Html.DropDownList("Columns",(SelectList)ViewBag.FooterColumnNameList, 
                     new { @class = "webUserDropDown"  , @id="dpColumns" , @style="width:162px;"})
                    
                }
            </div>
              <div class="FloatRight" style="padding-right:10px;">
                    @Html.ActionLink("تغییر نام عناوین ستون ها","FooterColumnName")
                     </div>
        </div>
    </div>
    <div id="BoxContent">
        @Html.Partial("_FooterList")
    </div>
</div>

